<h1>Congradulations!</h1>
<p>You sent a message to <%= @last_number %> that said:</p>
<p>"<%= @last_message %>"</p>
<p>Would you like to send another message?</p>
<p><%= link_to "Yes", new_message_path %>
