<h1>Hello, and welcome to the Messenger App!</h1>
<p>Thanks for reviewing this app that James set up. This is his first hosted app, and he's very proud of it.</p>
<p>So, are you ready to send text messages from the web?</p>
<p><%= link_to "Oh, most definitely.", new_message_path %></p>